@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-recursive { font-family: "Recursive", cursive; }
}
:root {
  --color-surface-light: #FFFFFF;
  --color-high-contrast: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-surface-light: #000000;
    --color-high-contrast: #FFFFFF;
  }
}

body {
  background-color: var(--color-surface-light);
  color: var(--color-high-contrast);
}
