@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-recursive { font-family: "Recursive", cursive; }
}
:root {
  --color-surface-light: #F7F7FA;
  --color-high-contrast: #1E1E1E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-surface-light: #141414;
    --color-high-contrast: #EEEEEE;
  }
}

body {
  background-color: var(--color-surface-light);
  color: var(--color-high-contrast);
}
